body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: lightgrey;
}

.players-container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    justify-items: center;
    width: max-content;
    margin: auto;
}

.ocean {
    font-weight: 900;
    background-color: #4F42B5;
    width: 100%;
    user-select: none;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    aspect-ratio: 1;
    border: 3px solid black;
    width: 500px;
    background: red;
}

.cell {
    width: 44px;
    aspect-ratio: 1;
    border: 3px solid black;
}

.player1 {
    justify-self: right;
}

.player2 {
    justify-self: left;
}

.players-name {
    justify-self: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.hit {
    background-color: yellow;
    transition: background-color 0.25s ease;
}

.no-hit {
    background-color: white;
    transition: background-color 0.25s ease;
}

.humanPlayer {
    border-color: green;
}

.ship-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ships-images {
    display: flex;
    gap: 20px;
}

.error {
    color: red;
    font-weight: 800;
    font-size: 1.5rem;
}

.container-form {
    display: flex;
    justify-content: center;
    padding: 2px;
}

#player-data {
    padding: 5px;
    display: flex;
    border: 2px solid blue;
    border-radius: 5px;
    justify-content: center;
    background: lightblue;
    gap: 20px;
}

.highlight-target {
    background-color: blue;
    opacity: 0.3;
}

.sunk {
    background-color: grey;
}

.transition-selected-axis {
    transition: 0.1s ease-in-out;
}

.selected-axis {
    background-color: magenta;
}
